[submodule "algorithms/hoohash"]
	path = algorithms/hoohash
	url = git@github.com:Hoosat-Oy/hoohash.git
[submodule "algorithms/blake3"]
	path = algorithms/blake3
	url = https://github.com/BLAKE3-team/BLAKE3.git
[submodule "external/libmicrohttpd"]
	path = external/libmicrohttpd
	url = https://git.gnunet.org/libmicrohttpd.git
[submodule "external/json-c"]
	path = external/json-c
	url = https://github.com/json-c/json-c.git
[submodule "external/libpciaccess"]
	path = external/libpciaccess
	url = https://gitlab.freedesktop.org/xorg/lib/libpciaccess.git
