build/
releases/*tar.gz
releases/*sha1sum
releases/hoominer/hoominer
releases/hoominer/cubins
algorithms/GPU/OpenCL/opencl-compiler
algorithms/GPU/OpenCL/test-kernel
algorithms/GPU/OpenCL/test-blake3-kernel
algorithms/GPU/OpenCL/test-hoohash-kernel
vgcore*
kernel.bin
Makefile
*.dll
*.zip
*.sha1sum
*.exe
*.lib
*.exp
CMakeFiles/
CMakeCache.txt